*
{
    font-family: sans-serif;
    font-size: 40px;
}

#container
{
    border: 1px solid grey;
    background-color: #eee;
    margin: 20px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    /* grid-template-rows: 150px 250px; */
    /* grid-row-gap: 10px; */
    /* grid-row-column: 20px; */
    grid-gap: 30px;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
    /* grid-template-areas: 
    "lefttop lefttop righttop righttop"
    "bottom1 bottom2 bottom3 bottom4"; */
}

.square
{
    height: auto;
    min-height: 150px;
    background-color: bisque;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}  

#first
{
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-area: lefttop;
}

#second
{
   /* grid-column: 3 / 5;
   grid-row: 1 / 3; */
   grid-area: righttop;
}



.square:hover
{
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
    opacity: 80%;
}

/* Punkty kluczowe */

@media screen and (max-width: 1200px) 
{
    #container
    {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
    "lefttop lefttop" 
    "righttop righttop"
    "bottom1 bottom2" 
    "bottom3 bottom4";
    }
}
    
