* {
    font-family: sans-serif;
}

h1 {
    color: brown;
    font-family: sans-serif;
}

a {
    color: blueviolet;
    text-decoration: none;
    transition: color 0.5s;
}

a:visited {
    color: gray;
}

a:hover {
    text-decoration: underline;
    color: deepskyblue;
}

#container {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid grey;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: center;
    font-size: 250%;
    color: brown;
    background-color: seagreen;
}

#header > span {
    padding: 25px;
    display: block;
}

#navbar {
    text-align: center;
    font-size: 150%;
    padding: 15px;
    background-color: aqua;
    border-top: 2px dashed grey;
    border-bottom: 2px dashed grey;
}

#navbar a {
    margin: 0 30px;
}

#main {
    background-color: floralwhite;
    font-size: 0;
}

#content {
    display: inline-block;
    width: 1000px;
    height: auto;
    text-align: justify;
    background-color: bisque;
    font-size: 15px;
}

#akapit1,
#akapit2 {
    box-sizing: border-box;
    width: 45%;
    line-height: 200%;
    padding: 50px;
}

#akapit1 {
    float: left;
}

#akapit2 {
    float: right;
}

#sidemenu {
    line-height: 200%;
    display: inline-block;
    width: 150px;
    float: right;
    width: 200px;
    font-size: 15px;
}

#footer {
    border-top: 1px solid grey;
    padding: 40px;
    font-size: 18px;
    text-align: center;
    color: grey;
    font-style: italic;
    background-color: aliceblue;
}
