* 
{
    font-family: sans-serif;
}

h1 
{
    color: brown;
    font-family: sans-serif;
}

span 
 {
    display: inline;
    margin-top: 15px;
}

.b 
{
    font-weight: 700;
}

.i 
{
    font-style: italic;
}

.u
{
    text-decoration: underline;
}

ul 
{
    list-style-type: circle;
}

ol
{
    background-color: grey;
    margin: 10px;
    padding: 20px;
    border-width: 5px;
    border: 5px solid yellowgreen;
    border-radius: 25px;
}